<p>Try stretching the textarea element past 300px</p>

{{#mutation-observer
  handleMutations=(action "handleMutations")
  attributes=true
  childList=false
  characterData=false
  subtree=false
  attributeFilter='["style"]'
}}
  <textarea style="width: 200px;"></textarea>
{{/mutation-observer}}

<p>textarea <b>width:</b> {{width}}</p>
<p>textarea <b>style attribute</b>: {{styleAttribute}}</p>

<hr>

<p>Ordered List example</p>
{{#mutation-observer
  handleMutations=(action "handleMutations")
  attributes=false
  childList=true
  characterData=true
  subtree=true
}}
  <ol contenteditable>
    <li>Click here and press enter</li>
  </ol>
{{/mutation-observer}}

<p>
  Each time an item is changed in the ordered list above the mutator observer captures the event<br/>
  and adds the item to an array which is displayed below as an unordered list<br/>
</p>

<ul>
  {{#each itemList as |item|}}
    <li>{{item}}</li>
  {{/each}}
</ul>

<hr>

{{mutation-observer
handleMutations=(action "handleMutationsBtn")
attributes=false
childList=false
characterData=true
subtree=true
targetId="btn"}}

<button id="btn" contenteditable="true">Click Here to Change Button Text</button>
<p>Button Text: {{buttonText}}</p>